% vim: set filetype=erlang :
{deps,
    [{rabbitmq_shovel, ".*",
      {git, "https://github.com/ldx/rabbitmq-shovel", "standalone"}},
     {rabbit_common, ".*",
      {git, "https://github.com/jbrisbin/rabbit_common.git", "master"}},
     {amqp_client, ".*",
      {git, "https://github.com/jbrisbin/amqp_client.git", "master"}},
     {getopt, ".*",
      {git, "https://github.com/jcomellas/getopt.git", "master"}}]}.
{escript_incl_apps, [rabbitmq_shovel, amqp_client, rabbit_common, getopt]}.
%{escript_emu_args,"%%! -sname rmq_shovel -setcookie rmq_shovel\n"}.
